/* Write your CSS here */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.bg-dark {
  background-color: #000000;
}

.bg-light {
  color: #ffffff;
}

.about-img {
  width: 120px;
}

.about-text {
  font-weight: 500;
  font-family: 'Roboto';
  font-size: 23px;
}

.about-dark {
  color: #ffffff;
}

.about-light {
  color: #171f46;
}
