/* Write your CSS here */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.h-dark {
  background-color: #000000;
}

.h-light {
  background-color: #ffffff;
}

.home-img {
  width: 120px;
}

.home-text {
  font-weight: 500;
  font-family: 'Roboto';
  font-size: 23px;
}

.dark {
  color: #ffffff;
}

.light {
  color: #171f46;
}
